.changingHeading{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 100px 100px;
    caret-color: transparent;

    position: relative;
    overflow: hidden;
}

.changingHeading h1{
    /* gap: 10px; */
}

.changingHeading .fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .changingHeading .fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }


.cardSection{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSection .card01{
    /* padding: 5px; */
    /* border: 2px solid orange; */
    padding-bottom: 60px;
    padding-left: 2px;
}

.cardSection .card02{
    /* padding: 5px; */
    /* border: 2px solid black; */
    padding-left: 2px;
}

.fourblocks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fourblocks .twoSets{
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    max-width: 2000px;
}


.blockSection{
    /* border: 2px solid red; */
    padding: 100px 100px 100px 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.fourblocks .firstset img{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
}


.fourblocks .secondset img{
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
}

.fourblocks .thirdset img{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
}

.fourblocks .changingPicture img{
    height: 450px;
    width: 450px;
    margin-left: 100px;
}


.longCards{
    /* border: 2px solid red; */
    margin-top: 5px;
    background-color:  rgb(252 211 219);
    padding: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.longCards .card{
    margin: 10px;
    gap: 1px;
}




/* CartBag css is here itself */

.bagIcon {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }


  .cardSection02{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .cardSection02 .card01{
    /* padding: 5px; */
    /* border: 2px solid orange; */
    /* padding-bottom: 60px;
    padding-left: 2px; */
    padding: 5px;
}

.cardSection02 .card02{
    /* padding: 5px; */
    /* border: 2px solid black; */
    /* padding-left: 2px; */
}



.cardSection03{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px; */
  }

  .cardSection03 .card01{
    /* padding: 5px; */
    /* border: 2px solid orange; */
    /* padding-bottom: 60px;
    padding-left: 2px; */
}

.cardSection03 .card02{
    /* padding: 5px; */
    /* border: 2px solid black; */
    /* padding-left: 2px; */
    padding: 5px;
}


.cardSection04{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px; */
  }

  .cardSection04 .card01{
    /* padding: 5px; */
    /* border: 2px solid orange; */
    /* padding-bottom: 60px;
    padding-left: 2px; */
}

.cardSection04 .card02{
    /* padding: 5px; */
    /* border: 2px solid black; */
    /* padding-left: 2px; */
    padding: 5px;
}





.cardSection05{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px; */
  }

  .cardSection05 .card01{
    /* padding: 5px; */
    /* border: 2px solid orange; */
    /* padding-bottom: 60px;
    padding-left: 2px; */
}

.cardSection05 .card02{
    /* padding: 5px; */
    /* border: 2px solid black; */
    /* padding-left: 2px; */
    padding: 5px;
}
